@{
    ViewBag.Title = "Contact";
}

<h2>船津理史への</h2>
<h3>連絡はここまで</h3>

<address>
    〒140-0013<br />
    東京都品川区南大井6丁目22番7号
    大森ベルポートE館13階<br />
    <abbr title="Phone">Phone:</abbr>
    080-3690-2568
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:masashi.funatsu@diva.co.jp">masashi.funatsu@diva.co.jp</a><br />
</address>

