@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1><font face="Jokerman,メイリオ">DINOSAUR SALES ASSOCIATION</font></h1>
        <p class="lead">みんな大好き恐竜販売の管理サイトだよ。購入希望者は問合せよりお問い合わせください。</p>
        <img src="https://4.bp.blogspot.com/-diJAog2FsMY/VEES-JhpaZI/AAAAAAAAoXQ/6QkkHtqS9BQ/s800/Tyrannosaurus_hair.png">

    </div>
    <body style="background-color:lightgreen;">
        <div class="row">
            <font face="Jokerman,メイリオ">
                <div class="col-md-4">
                    <h2>利用規約</h2>
                    <p>
                        恐竜を販売しているサイトです。このサイトにて購入を希望される方は以下のURLから利用規約をお読みの上お使いください。
                    </p>
                    <p><a class="btn btn-default" href="https://policies.google.com/terms?hl=ja">利用規約 &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>恐竜の勧め</h2>
                    <p>このサイトは恐竜を販売させるとともに、恐竜のすばらしさを知ってもらうために作成したサイトとなります。</p>
                    <p>恐竜を過去の遺産と思っている方ちょっと待った！かっこよい恐竜のすばらしさを動画でも紹介していますのでご覧ください。</p>
                    <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=s-lpHX08Aqo">YouTube &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>もっと知りたい方へ</h2>
                    <p>このサイトを通じてもっと恐竜を知りたいという方に向けておすすめを紹介いたします。</p>
                    <p><a class="btn btn-default" href="https://www.dinosaur.pref.fukui.jp/">福井県立恐竜博物館 &raquo;</a></p>
                </div>
            </font>
        </div>
    </body>
    