@model WebApplication2.Models.Inventory_Control

@{
    ViewBag.Title = "Create";
}

<h2>更新してもよろしいでしょうか？</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Are you sure you want to update?</h4>
        <hr />
    

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="更新" class="btn btn-default" />
                </div>
            </div>
    </div>
}

        <div>
            @Html.ActionLink("在庫管理に戻る", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
